*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
/*.pagina_inicio{
  display: inline-block;
}*/
.usuario{
  text-align: left;
  display: inline-block;
  margin-left: 10px;
}

/*Menu*/

.menu{
    width: 260px;
    height: 100vh;
    background: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 110px;
    transition: all 300ms;
    z-index: 9;
    overflow: auto;
    border-right: 2px solid #eee;
}

.menu-show{
    width: 240px;
}
.line:hover{
    background: #188fe6;
    cursor: pointer;
}
.line {
    margin-top: 10px;
    padding: 10px;
    transition: all 300ms;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

.line font{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}
.linemenu {
    margin-top: 10px;
    padding: 10px;
    transition: all 300ms;
    color: black;
    font-size: 30px;
    color: #188fe6;
    font-weight: bold;
}

.linemenu font{
    margin-left: 40px;
    font-size: 18px;
    font-weight: 100;
    color: #188fe6;
    font-weight: bold;
}

/*Articulo*/

main{
    position: absolute;
    top: 110px;
    left: 260px;
    padding: 20px;
    transition: all 300ms;
}

.main-move{
    left: 240px;
}

article h1{
    font-size: 40px;
}

article p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
}
#AA{
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}
input[type="text"], input[type="password"]{
  outline: none;
  padding: 10px;
  display: block;
  width: 100px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 10px auto;
}
.select-css {
  position: relative;
  font-family: Arial;
}

.select-css select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #00b8eb;
}

/*Popup*/

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
  z-index: 10;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 450px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #0098cb;
}

.popup .btn-cerrar-popup:hover {
	color: #00b8eb;
}

.popup h4 {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 15px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #0098cb;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background-color: #00b8eb;
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
